*{
    margin: 0 30px 0 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 54%, 90%);
}

h2{
    color: hsl(14, 45%, 36%);
    margin-left: 30px;
}

h1{
    margin-left: 30px;
    padding-bottom: 30px;
}

p{
    margin-left: 30px;
    line-height: 30px;
}

li{
    line-height: 30px;
}

.container{
    display:flex;
    flex-direction: column;
    height: auto;
    width: 800px;
    background-color: white;
    border-radius: 5%;
    margin: auto;
}

#omelette{
    margin: 30px;
    width: auto;
    height: 350px;
    border-radius:4%;
}

.preparation{
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    width: 700px;
    margin: 30px;
}
.preparation h3{
    color: hsl(332, 51%, 32%);
    padding-bottom: 15px;
}
.preparation ul{
    margin-right: 60px;
}

.ingredients ul{
    padding-bottom: 30px;   
}
.ingredients h2{
    padding-bottom: 30px;
}

.instructions li:nth-child(6){
    padding-bottom: 30px;
}
.instructions li{
    padding: 0.5% 0% 0.5% 0;
}
.instructions h2{
    padding-bottom: 30px;
}
.nutrition{
    display: flex;
    flex-direction: column;
}
.nutrition p{
    margin-left: 30px;
}
.nutrition h2{
    padding-bottom: 30px;

}
/* .nutrition div{
    margin-left: 30px;
} */

.cat1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin-left: 200px;
}
.cat1 div:nth-child(12){
    padding-bottom: 5%;
}
.categories{
    display:flex;
}
.value{
    display: flex;
    padding-bottom: 10px;
    margin: none;
}