* {
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

body {
    background: pink;
}

p {
    color: hotpink;
    text-align: center;
}

img {
    text-align: center;
    border-radius: 50%;
    border: 5px solid hotpink;
}